---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a><br>
        <small>
        <p>{% if post.author %}{{ post.author }}, {% endif %}<br> {{- post.date | date_to_long_string -}}, {% if post.venue %}{{ post.venue -}}{% endif %} </p>
        </small>
    </li>
  {% endfor %}
</ul>
