---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<p>This is a list of my recent maybe not yet indexed publications. For older publications, please visit <a href="http://www.researchgate.net/profile/Lasaro_Camargos">Research Gate</a> or <a href="https://scholar.google.com/citations?user=ZTKP1OwAAAAJ&hl=en">Google Scholar</a>, or your favorite academic search engine.</p>

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a><br>
        <small>
        <p>{% if post.author %}{{ post.author }}, {% endif %}<br> {{- post.date | date_to_long_string -}}, {% if post.venue %}{{ post.venue -}}{% endif %} </p>
        </small>
    </li>
  {% endfor %}
</ul>
