---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<p>These the classes I am teching this semester.</p>

{% assign classes = site.collections | where_exp: "item", "item.label contains 'classes'" %}
<ul>
{% for class in classes %}
<li><h2> {{ class.title }} </h2>
   <ul>
   {% for lectures_grouped in site[class.label] | group_by: 'part' %}
   <li> Parte: {{ lectures_grouped.name }} 
     <ul> 
     {% for lecture in lectures_grouped.items %}
       <li>Tópico: <a href="{{ lecture.url }}">{{ lecture.title }}</a></li>
     {% endfor %}
     </ul>
   </li>
   {% endfor %}
   </ul>
</li>
{% endfor %} 
</ul>
