---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<p>These are the classes I am teaching this semester.</p>

{% assign classes = site.collections | where_exp: "item", "item.label contains 'classes'" %}
<ul>
{% for class in classes %}
<li><h2> {{ class.title }} </h2>
   <ul>
   {% assign lecture_groups = site[class.label] | group_by: 'part' %}
   {% for lecture_group in lecture_groups %}
   <li> Parte: {{ lecture_group.name }} 
     <ul> 
     {% for lecture in lecture_group.items %}
       <li><a href="{{ lecture.url }}">{{ lecture.title }}</a></li>
     {% endfor %}
     </ul>
   </li>
   {% endfor %}
   </ul>
</li>
{% endfor %} 
</ul>
