---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

{% for class in site.collections %}
  {{ class.title }} - {{ class.label }}
{% endfor %}

{% assign classes = {{ site.collections | where_exp:"item", "item.label contains '_classes_'" }} %}
{% for class in classes %}
  {{ class.title }} - {{ class.label }}
{% endfor %}

<ul>
{% for class in classes %}
<li><h2> {{ class.title }} </h2>
   <ul>
   {% for lecture in site[class.label] %}
     <li><a href="{{ lecture.url }}">{{ lecture.title }}</a></li>
   {% endfor %}
   </ul>
</li>
{% endfor %} 
</ul>
