---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

{% assign category = page.category | default: page.title %}
{% assign pub_groups = site.categories[category] | group_by: 'type' %}
{% for group in pub_groups %}
  <h2>{{ group.name }} </h2>

  <ul class="posts-list">
  {% for post in group.items %}
    <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a><br>
        <small>
        <p>{% if post.author %}{{ post.author }}, {% endif %}<br> {{- post.date | date_to_long_string -}}, {% if post.venue %}{{ post.venue -}}{% endif %} </p>
        </small>
    </li>
  {% endfor %} 
  </ul>
{% endfor %}
